

.clearfix:after {
   display: block;
   content: "";
   clear: both;
}
.hidden {
   display: none;
}

.form-group {
   margin-bottom: 15px;
}

.input-group input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
   margin-top: 20px;
   margin-bottom: 20px;
}
h1 {
   font-size: 1.7em;

}

/*====================================== chữ ===================================*/
.title {

/*    position: absolute;*/

    margin-top: 20px;
    font-size: 50px;
    color: #f09;

    animation: boder 2.5s ease-in-out infinite alternate;
}

/*====================================== ô nhập ===================================*/
.text_and_button{
    padding: 8px 40px 22px 40px;
}

.o_chu{
    background: #ff000000;
    color: white;
    animation: boder 2.5s ease-in-out infinite alternate;
    border: none;
    font-size: 38px;
    text-align: center;
    width: 28vh;
    outline: none;
}


@keyframes boder {
    0%,100% {
        transform: translate(0,0);
        color: rgb(98, 0, 59);
    }

    50% {
        color: #f09;
        text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09, 0 0 73px #f09;
    }
}






a {
   color: #128ff2;
}
button {
   box-shadow: none;
   border: 1px solid transparent;
   font-size: 14px;
   outline: none;
   line-height: 100%;
   white-space: nowrap;
   vertical-align: middle;
   padding: 0.6rem 1rem;
   border-radius: 2px;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
   min-height: 38px;
}
button.default {
   background-color: #e8e8e8;
   color: #333;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.btn_send_chat {
   background-color: #00000070;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
   color: #fff;
   transition: opacity 0.1s ease;
}

    .btn_send_chat:hover {
        opacity: 0.6;
    }

.btn_join_chat {
    margin-top: 30px;
    background-color: #00000040;
    box-shadow: 0 0 0 3px rgba(255, 53, 174, 0.703);
    color: #fff;
    font-size: 36px;
    padding: 19px;
    border-radius: 50px;
    animation: boder 2.5s ease-in-out infinite alternate;

    transition: opacity 0.1s ease;
}

    .btn_join_chat:hover {
        opacity: 0.6;
    }



#username-page {
   text-align: center;

}
.username-page-container {
    Z-index: 10000;
    background: #00000054;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 24px;
    width: 40vh;
    height: 54vh;

    position: absolute;
    top: 0;
    margin-left: 79%;
    margin-top: 36vh;
}

#chat-page {
    z-index: 10000;
    position: absolute;
    top: 0;

/*    khung mang hinh cái chat  để = 0 để ko bị chặn cái click*/
    height: 0;
    width: 0;
}
.chat-container {
    background-color: #000000a3;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 24vh;
    height: 54vh;
    width: 40vh;
    border-radius: 24px;
    margin-left: 79%;
    margin-top: 36vh;
    opacity: .6;
}

.chat-container:hover{
    opacity: 1;
}


#chat-page ul {
    list-style-type: none;
    /* background-color: #00000054; */
    overflow: auto;
    overflow-y: scroll;
    padding: 0px 20px 0px 20px;
    height: 37vh;
}



#chat-page #messageForm {
    padding-left: 15px;
}
#chat-page ul li {
    padding: 12px 8px;
    padding: 12px 8px;
}

#chat-page ul li p {
   margin: 0;
}
#chat-page .event-message {
   width: 100%;
   text-align: center;
   clear: both;
}
#chat-page .event-message p {
    color: #ffffffb3;
    text-shadow: 0 0 9px #ff009994, 0 0 13px #f09, 0 0 13px #f09;
    font-size: 14px;
    word-wrap: break-word;
}
#chat-page .chat-message {
   padding-left: 5vh;
   position: relative;
}
#chat-page .chat-message i {
    position: absolute;
    width: 37px;
    height: 37px;
    overflow: hidden;
    left: -9px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 37px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}
#chat-page .chat-message span {
    color: #ffffff;
    text-shadow: 0 0 9px #ff009994, 0 0 13px #f09, 0 0 13px #f09, 0 0 13px #f09;
    font-size: 18px;
    /* word-wrap: break-word; */
    font-weight: 600;
}
#chat-page .chat-message p {
   color: #ffffff;
   word-wrap: break-word;
}

#messageForm .input-group button {

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    width: 80px;

    margin-left: 5px;
}
.chat-header {
   text-align: center;
   padding: 7px;
   border-bottom: 1px solid #ececec;
}
.chat-header h2 {
    margin: 0;
    font-weight: 500;
    color: #ffffffde;
    text-shadow: 0 0 9px #f09, 0 0 13px #f09, 0 0 13px #f09, 0 0 13px #f09;
}
.connecting {
   padding-top: 5px;
   text-align: center;
   color: #777;
   position: absolute;
   top: 65px;
   width: 100%;
}

@media screen and (max-width: 730px) {

   .chat-container {
       margin-left: 10px;
       margin-right: 10px;
       margin-top: 10px;
   }
}
@media screen and (max-width: 480px) {
   .chat-container {
       height: calc(100% - 30px);
   }
   .username-page-container {
       width: auto;
       margin-left: 15px;
       margin-right: 15px;
       padding: 25px;
   }
   #chat-page ul {
       height: calc(100% - 120px);
   }
   #messageForm .input-group button {
       width: 65px;
   }
   #messageForm .input-group input {
       width: calc(100% - 70px);
   }
   .chat-header {
       padding: 10px;
   }
   .connecting {
       top: 60px;
   }
   .chat-header h2 {
       font-size: 1.1em;
   }
}

/*==================================== khung chat ===========================================*/
.khung_chat{
   display: none;
   top: 0;
   position: absolute;
   margin-left: 80%;
}


.o_chat{
display: block;
     width: 66%;
    /* padding: 3px 3px 3px 3px; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    /* appearance: none; */
    background-color: #00000000;
    /* background-clip: padding-box; */
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}