
/*animation: bodersd 2.5s ease-in-out infinite alternate;*/
@keyframes bodersd {
    0%,100% {
        transform: translate(0,0);
        color: #f09;
    }

    50% {
        color: #f09;
        box-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;
    }
}
/*            text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;*/


/*    animation: boder1 2.5s ease-in-out infinite alternate;*/
@keyframes boder1 {
    0%,100% {
        transform: translate(0,0);
        color: rgb(159, 44, 124);
    }

    50% {
        color: #f09;
        text-shadow:

            0 0 13px #f09,
            0 0 38px #f09,
            0 0 73px #f09;
    }
}

        h1 {
            margin: 0;
            font-size: 2.1em;
            text-align: center; /* Center the text within the h1 element */
            margin-bottom: 20px; /* Add margin below the heading for spacing */
            animation: boder1 2.5s ease-in-out infinite alternate;
        }

.header{
    display: flex;
    justify-content: space-around;
}

.btn_next{
    position: absolute;
    top: 0;
    margin-left: 40vh;
    margin-top: 2vh;

}

.btn_next i{
    font-size: 2.5em;
    opacity: .8;
    color: #ffe2f7;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn_next i:hover{
    transform: scale(1.05);
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;
    opacity: 1;
}


.btn_prev{
    position: absolute;
    top: 0;
    margin-right: 40vh;
    margin-top: 2vh;
}

.btn_prev i{
    font-size: 2.5em;
    opacity: .8;
    color: #ffe2f7;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.btn_prev i:hover{
    transform: scale(1.05);
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;
    opacity: 1;
}


.view{
    position: absolute;

    font-size: 0.7em;
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;

    margin-top: -3.7vh;
    margin-left: 1vh;
    display: flex;
}


.btn_tim{
    box-shadow: none;
    background: none;
    border: none;
}

.btn_tim:hover{
    box-shadow: none;
}

.tim{
    position: absolute;

    font-size: 0.7em;
    color: white;
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 13px #f09, 0 0 38px #f09;

    margin-top: -3.7vh;
    margin-left: 26vh;
    display: flex;
}

.tim i{
    margin-top: -4px;
    font-size: 3vh;
}
.red {
    color: red;
}


.font{
    margin: 0;
    padding-left: 1vh;
}

.search-container input{
    box-shadow: 0 0 4px #fff, 0 0 10px #f09;
    opacity: .8;
    color: white;

    border: 1px solid #ffb1f6;
    background: #00000059;

    text-align: center;
    width: 25vh;
    height: 3vh;
    border-radius: 20px;
    outline: none;
}

.sort{
    position: absolute;
    top: 0;
    margin-top: 10vh;
    margin-left: 37vh;
    color: white;
    font-size: 1.7em;
    transition: transform 0.3s ease-in-out;
}

        .sort i:hover {
            text-shadow:0 0 13px #f09, 0 0 38px #f09, 0 0 73px #f09;
            transform: scale(1.05);
        }