.search button{
    border-radius: 30px;
}

.search input{
    border-radius: 30px;
    margin-left: 3vh;
}

.search{

}

.icon_avatar{
    padding: 0;
    border: 1px solid #ff50f3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 2vh;
    cursor: pointer;
    transition: opacity 0.1s ease;
}

.icon_avatar:hover{
    opacity: 0.7;
}


.icon_avatar1{
    background-color: transparent;
    padding: 0;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 2vh;
    cursor: pointer;
    transition: opacity 0.1s ease;
}

.icon_avatar1:hover{
    opacity: 0.7;
}

.icon_avatar1 i{
    font-size: 2.5em;
}

.avatar{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
}

.bell{
    font-size: 1.5em;
    margin-left: 2vh;
}