<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Add Album Music</title>
  <link rel="stylesheet" type="text/css" href="/css/album_music_client.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="/css/ListImageClient.css" />
  <link rel="stylesheet" type="text/css" href="/css/BtnNeon.css" />
  <link rel="stylesheet" type="text/css" href="/css/MyUser.css" />

  <style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h2 {
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    select, button {
        padding: 8px;
        margin-bottom: 10px;
    }

    audio {
        width: 100%;
    }
  </style>
</head>
<body>

<h2>Add Music Vào Album</h2>

<!--------------------------- tìm kiếm---------------------------->
<div class="search-container">
  <input type="text" id="searchInput" placeholder="Search by album name...">
  <button onclick="searchAlbum()">Search</button>
</div>

<!-- JavaScript cho chức năng tìm kiếm -->
<script>
  function searchAlbum() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById('searchInput');
      filter = input.value.toUpperCase();
      table = document.querySelector('table tbody');
      tr = table.getElementsByTagName('tr');

      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByClassName('search1');
          if (td.length > 0) {
              txtValue = td[0].textContent || td[0].innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
  }
</script>

<!-- Hiển thị danh sách ảnh trong một bảng -->
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Player</th>
    <th>Name</th>
    <th>Category</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <form th:action="@{/User/filter}" method="post" enctype="multipart/form-data">
    <select id="categorySelect" name="categorySelect">
      <option th:value="0">All</option>
      <option th:each="category : ${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <br/>
    <input type="hidden" id="categoryId" name="categoryId" th:value="0"/>
    <input type="hidden" id="albumId" name="albumId" th:value="${albumId}"/>
    <button type="submit">Lọc</button>
  </form>

  <script>
    document.getElementById('categorySelect').addEventListener('change', function() {
        var selectedGenre = this.value;
        document.getElementById('categoryId').value = selectedGenre;
    });
  </script>


  <button th:onclick="|window.location.href='/User/listmusic/' + ${albumId}|">Quay về</button>



  <tr th:each="musicEntity : ${listMusic}">
    <td th:text="${musicEntity.id}"></td>
    <td><audio controls th:attr="src='/Music/' + ${musicEntity.path}"></audio></td>
    <td class="search1" th:text="${musicEntity.name}"></td>
    <td class="search1" th:text="${musicEntity.category.name}"></td>
    <td>
      <a th:href="@{/User/insertMusic/{musicId}/{albumId}(musicId=${musicEntity.id}, albumId=${albumId})}">
        Thêm nhạc
      </a>
    </td>
  </tr>

  </tbody>
</table>



</body>
</html>
