<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Album</title>
    <link rel="stylesheet" type="text/css" href="/css/album_music_client.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/ListImageClient.css" />


</head>

<body>

<div class="header">
    <h2>List Music</h2>
    <!--<h2 class="namems" th:text="'Welcome ' + ${ten}">  </h2>-->

    <div class="btn_prev" th:attr="onclick=|window.location.href='/User/listimage/${albumId}?ten=${ten}'|">
        <i class='bx bxs-left-arrow'></i>
    </div>

    <div class="btn_next" th:attr="onclick=|window.location.href='/User/listimage/${albumId}?ten=${ten}'|">
        <i class='bx bxs-right-arrow'></i>
    </div>


</div>

<!-- Hiển thị danh sách ảnh trong một bảng -->
<table>
    <thead>
    <tr>
        <th>Audio</th>
        <th>Name</th>
        <th>Category</th>
        <th>Action</th>
    </tr>


    </thead>
    <tbody>

    <!-- Duyệt qua danh sách ảnh và hiển thị từng dòng -->
    <tr th:each="musicEntity : ${listMusic}">

        <td><audio controls th:attr="src='/Music/' + ${musicEntity.path}"></audio></td>
        <td th:text="${musicEntity.name}"></td>

        <td th:text="${musicEntity.category.name}"></td>

        <td class="action-buttons">
            <a th:href="@{/User/deleteMusic/{musicId}/{albumId}(musicId=${musicEntity.id}, albumId=${albumId})}"
               onclick="return confirm('Are you sure?')">Xóa nhạc</a>
        </td>

    </tr>

    <button type="button" th:attr="onclick=|window.location.href='/User'|">Quay về</button>

    <button type="button" th:onclick="|window.location.href='/User/insertMusic?albumId=${albumId}'|">Thêm Nhạc Vào Album</button>

<!--        <a th:href="@{'/showImage/' + ${albumId} + '?ten=' + ${ten}}">Phát tất cả nhạc</a>-->

    <form th:action="@{'/showImage/' + ${albumId}}" method="get">
        <input type="hidden" name="ten" th:value="${ten}" />
        <button type="submit">Phát tất cả nhạc</button>
    </form>


    <!--    <button type="button" th:attr="onclick=|window.location.href='/showImage?ten=${ten}'|">Phát tất cả nhạc</button>-->

    </tbody>
</table>

</body>

</html>
